# Ignorar entornos virtuales
/venv

# Ignorar caché de Python
__pycache__/

# Ignorar carpetas de datos procesados
CSV/
jsons/
Processed_CSV/
Processed_Data/
Summary_Data/
Final_Data/
Output/

# Ignorar archivos grandes específicos
src/Data/stress_combined.csv
src/Data/filtered_cleaned_com.samsung.shealth.tracker.pedometer_day_summary.20241124164179_processed.csv
