
.home-page {
    padding: 20px;
}

.home-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.home-page p {
    text-align: center;
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 30px;
}

.graph-section {
    margin-bottom: 40px;
}

.graph-section h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

.graph-section label {
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

.graph-section Dropdown{
    text-align: center;
    margin-bottom: 10px;
    color: #333333;
}

.graph-section img {
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
